<form #f="ngForm" (ngSubmit)="login()">

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Correo electrónico: </label>
        <div class="col-sm-10">
            <input #correo="ngModel"
                [ngClass]="correo.invalid && (correo.dirty || correo.touched) ? 'is-invalid' : ''" type="email"
                name="Correo" class="form-control" required [(ngModel)]="loginPacienteDTO.correo" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Constraseña: </label>
        <div class="col-sm-10">
            <input #password="ngModel"
                [ngClass]="password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''"
                type="password" name="password" class="form-control" required
                [(ngModel)]="loginPacienteDTO.password" />
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
        <i class="fa-solid fa-circle-plus me-1"></i>Ingresar
    </button>

</form>